
@{
    ViewBag.Title = "Index";
}

<script src="~/Src/Leaflet.DriveTime.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //L.mapbox.accessToken = 'pk.eyJ1IjoiZXhwbG9yZXIxNCIsImEiOiJjaW5hdWt0M3EwMDJmd3pseWUxOGo1cDkzIn0.qVx6nR3jaCs9a62sT1mQSA';
        //mapBoxMap = L.mapbox.map('map', 'mapbox.streets', { preferCanvas: true });

        //mapBoxMap.on('click', function (eventInvoker) {
        //    var driveTimeInMinutes = parseInt($("#driveTime").val());

        //    if (driveTimeInMinutes > 0) {
        //        DriveTime.GetDriveTimePolygon(eventInvoker.latlng, driveTimeInMinutes, function (driveTimePolygonGeoJSON) {
        //            L.mapbox.featureLayer().setGeoJSON(driveTimePolygonGeoJSON).addTo(mapBoxMap);
        //        });
        //    }
        //});

        var LMap = L.map('map').setView([51.505, -0.09], 13);
        var mapboxAccessToken = 'pk.eyJ1IjoiZXhwbG9yZXIxNCIsImEiOiJjaW5hdWt0M3EwMDJmd3pseWUxOGo1cDkzIn0.qVx6nR3jaCs9a62sT1mQSA';

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(LMap);        

        LMap.on('click', function (eventInvoker) {
            var driveTimeInMinutes = 5;//parseInt($("#driveTime").val());

            if (driveTimeInMinutes > 0) {
                DriveTime.GetDriveTimePolygon(eventInvoker.latlng, driveTimeInMinutes, mapboxAccessToken, function (driveTimePolygonGeoJSON) {
                    L.geoJSON(driveTimePolygonGeoJSON).addTo(LMap);
                });
            }
        });
    });
</script>

<div class="input-group input-group-sm">
    <input id="driveTime" type="text" class="form-control searchBox" style="margin-top:8px" placeholder="Drive Time in minutes..." />
</div>
<div style="position: absolute; top: 50px; left: 0; bottom: 0; right: 0;">
    <div id="map" style="height:100%; position: relative;"></div>
</div>


